.vs/
.vscode/
.idea/
.VSCodeCounter/
Debug/
hide/
Release/
AIModuleLoader/Debug/
AIModuleLoader/Release/
BWAPIClient/Debug/
BWAPIClient/Release/
BWAPILIB/Debug/
BWAPILIB/Release/
FrogFish/Debug/
FrogFish/Release/
